<mat-toolbar color="primary" class="">
    <span>
        Welcome {{userName}}
    </span>
    <div class="spacer"></div>
    <a mat-button routerLink="/user/module/vendor">View Vendor</a>
    <a mat-button routerLink="/user/module/my/subscription">My subscription</a>
    <a mat-button routerLink="/user/module/expired/subscription">Expired subscription</a>
    <button mat-mini-fab color="accent" aria-label="Example icon button with a home icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
</mat-toolbar>