.float-right{
    float: right;
}

mat-card{
    padding: 20px;
}

table {
    width: 100%;
  }

  .mat-column-productName {
    flex: 0 0 10%;
}

.example-form {
    width: 100%;
  }
  
  mat-form-field {
    width: 48%;
    padding: 1%;
  }

  mat-divider{
      padding: 3px;
  }

  .mat-icon {
    vertical-align: middle;
    font-size: 25px;
    padding: 5px;
}

.header{
    background: skyblue;
    font-size: 22px;
}

button{
    padding: 5px;
    margin-left: 1%;
}

ng-template{
  padding: 10px;
}

.mat-toolbar {
  margin: -24px;
  margin-bottom: 0;
  width: auto;
}

.spacer {
  flex: 1 auto;
}

.example-container {
  height: calc( 100vh - 240px);
  overflow: auto;
  border-top: 1px solid #ccc;
}

.outline {
  border-style: none;
  border-width: none;
}