<html>

<head>
  <meta charset="utf-8">
  <title>Signup</title>
</head>

<body>
  <div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root"
              style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
            </div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>
        </div>
      </div>
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1><a href="" rel="dofollow">Paperwala</a></h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15 text-center">Sign Up</span>
              <form #signupForm="ngForm" (ngSubmit)="usersingup(signupForm)">
                <mat-form-field appearance="outline" fxFlex style="width: 100%;">
                  <mat-label>Username</mat-label>
                  <input placeholder="Username" name="username" matInput [(ngModel)]="username" required
                    pattern="^[a-zA-Z0-9]*$">
                  <mat-hint class="invalid-msg"
                    *ngIf="signupForm.controls.username?.errors?.required && (signupForm.controls.username?.touched || signupForm.controls.username?.dirty)">
                    *Username required
                  </mat-hint>
                  <mat-hint class="invalid-msg"
                    *ngIf="!(signupForm.controls.username?.errors?.required) && signupForm.controls.username?.invalid">
                    *Please enter a valid Username</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex style="width: 100%;">
                  <mat-label>Password</mat-label>
                  <input type="password" placeholder="Password" name="password" [(ngModel)]="password" matInput
                    required pattern="^(?=.?[A-Z])(?=.?[a-z])(?=.*?[0-9]).{8,}$">
                  <mat-hint class="invalid-msg"
                    *ngIf="signupForm.controls.password?.errors?.required && (signupForm.controls.password?.touched || signupForm.controls.password?.dirty)">
                    *Password required
                  </mat-hint>
                  <mat-hint class="invalid-msg"
                  *ngIf="!(signupForm.controls.password?.errors?.required) && signupForm.controls.password?.invalid">
                  *Please enter a valid Password
                  </mat-hint>
                </mat-form-field>
                <mat-hint class="invalid-msg"
                *ngIf="!(signupForm.controls.password?.errors?.required) && signupForm.controls.password?.invalid" style="font-size: 11px;">
                Password Pattern:
                <br>
                1. At least one upper case English letter
                <br>
                2. At least one lower case English letter
                <br>
                3. At least one digit
                <br>
                4. At least one special character
                <br>
                5. Minimum eight in length
              </mat-hint>

                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Select Role</mat-label>
                  <mat-select name="branch" (selectionChange)="valid($event.value)" [(ngModel)]="role" required>
                    <mat-option value="Admin">Admin</mat-option>
                    <mat-option value="User">User</mat-option>
                  </mat-select>
                  <mat-hint class="invalid-msg"
                    *ngIf="signupForm.controls.role?.invalid && (signupForm.controls.role?.touched || signupForm.controls.role?.dirty)">
                    *User Type required</mat-hint>
                </mat-form-field>

                <div *ngIf="hideOrShow">
                  <mat-form-field appearance="outline" fxFlex style="width: 100%;">
                    <mat-label>First Name</mat-label>
                    <input placeholder="First Name" name="firstName" [(ngModel)]="firstName" matInput required>
                    <mat-hint class="invalid-msg"
                      *ngIf="signupForm.controls.firstName?.errors?.required && (signupForm.controls.firstName?.touched || signupForm.controls.firstName?.dirty)">
                      *First Name required
                    </mat-hint>
                  </mat-form-field>
                  
                  <mat-form-field appearance="outline" fxFlex style="width: 100%;">
                    <mat-label>Last Name</mat-label>
                    <input placeholder="Last Name" name="lastName" [(ngModel)]="lastName" matInput required>
                    <mat-hint class="invalid-msg"
                      *ngIf="signupForm.controls.lastName?.errors?.required && (signupForm.controls.lastName?.touched || signupForm.controls.lastName?.dirty)">
                      *Last Name required
                    </mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex style="width: 100%;">
                    <mat-label>Contact Number</mat-label>
                    <input type="number" placeholder="Contact Number" name="contact" [(ngModel)]="contact" matInput required pattern="^[0-9]{10,15}$">
                    <mat-hint class="invalid-msg"
                      *ngIf="signupForm.controls.contact?.errors?.required && (signupForm.controls.contact?.touched || signupForm.controls.contact?.dirty)">
                      *Contact required
                    </mat-hint>
                    <mat-hint class="invalid-msg"
                    *ngIf="!(signupForm.controls.contact?.errors?.required) && signupForm.controls.contact?.invalid">
                    *Please enter a valid Contact Number</mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input placeholder="Email" name="email" [(ngModel)]="email" matInput required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$">
                    <mat-hint class="invalid-msg"
                      *ngIf="signupForm.controls.email?.errors?.required && (signupForm.controls.email?.touched || signupForm.controls.email?.dirty)">
                      *Email required
                    </mat-hint>
                    <mat-hint class="invalid-msg"
                    *ngIf="!(signupForm.controls.email?.errors?.required) && signupForm.controls.email?.invalid">
                    *Please enter a valid Email Address</mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex style="width: 100%;">
                    <mat-label>address</mat-label>
                    <input placeholder="address" name="address" [(ngModel)]="address" matInput required pattern="^[a-zA-Z0-9,./ ]*$">
                    <mat-hint class="invalid-msg"
                      *ngIf="signupForm.controls.address?.errors?.required && (signupForm.controls.address?.touched || signupForm.controls.address?.dirty)">
                      *Address required
                    </mat-hint>
                    <mat-hint class="invalid-msg"
                    *ngIf="!(signupForm.controls.address?.errors?.required) && signupForm.controls.address?.invalid">
                    *Please enter a valid Address</mat-hint>
                  </mat-form-field>

                </div>

                <button mat-raised-button color="primary" [disabled]="signupForm.invalid">Signup</button>
              </form>
            </div>
          </div>
          <div class="footer-link padding-top--24">
            <span>Already have an account? <a href="">Log In</a></span>
            <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
              <span><a href="#">Contact</a></span>
              <span><a href="#">Privacy & terms</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<!-- https://freefrontend.com/css-forms/ -->